* {
    text-align: center;
    font-size: 20px;
}
.heading {
    background-color: lightgrey;
}

.main-heading {
    background-color: lightslategray;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    
}
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2em;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2em;
}

h4 {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 2em;
}

img {
    width: 430px;
    height: 257px;
    max-height: 800px;
}

li {
    list-style: none;
}